#titleTop{
	line-height: 49px;
}
#titleTop>samp{
	color: rgb(153, 153, 153);
}
#titleTop>a:nth-of-type(1){
	color: rgb(102, 102, 102);
}
#titleTop>a:nth-of-type(2){
	color: rgb(102, 102, 102);
}
#titleTop>a:nth-of-type(3){
	color: rgb(252, 105, 118);
}
#titleTop>a:hover{
	color: rgb(252, 105, 118);
	text-decoration: none;
}
#myCarousel>a span {
	display: none;
}
#left{
	padding: 0px;
}
#left-left{
	padding: 0px;
	padding-right: 1%;
	margin-bottom: 2%;
}
#left-right>div>img{
	width: 100%;
}
#left-right>div:hover{
	box-shadow: #ccc 0px 10px 10px;
	transform: scale(1.01);
}
#left-right>div>p{
	position: absolute;
	bottom:-10px;
	text-align: center;
	width: 100%;
	background-color: rgba(39, 40, 34,0.4);
	color: white;
}
#left-right{
	padding: 0px;
	margin-bottom: 2%;
}
#left-right>div{
	position: relative;
	margin-bottom: 5%;
	transition:all .2s;
}
#right>h3{
	margin-top: 0px;
}
#right>.right-top{
	height: 175px;
	position: relative;
	transition:all .2s;
}
#right>.right-top:nth-of-type(2){
	overflow: hidden;
	margin-top: 5%;
}
#right>.right-top:nth-of-type(1):hover{
	box-shadow: #ccc 0px 10px 10px;
	transform: scale(1.01);
}
#right>.right-top:nth-of-type(2):hover{
	box-shadow: #ccc 0px 10px 10px;
	transform: scale(1.01);
}
#right>.right-top>img{
	width: 100%;
}
#right>.right-top:nth-of-type(1)>p{
	position: absolute;
	bottom:-10px;
	text-align: center;
	width: 100%;
	background-color: rgba(39, 40, 34,0.4);
	color: white;
}
#right>.right-top:nth-of-type(2)>p{
	position: absolute;
	bottom:-10px;
	text-align: center;
	width: 100%;
	background-color: rgba(39, 40, 34,0.4);
	color: white;
}
#right>.right-bottom>img{
	float: left;
	width: 140px;
	height: 80px;
	margin-right: 3%;
	transition:all .2s;
}
#right>.right-bottom>img:hover{
	box-shadow: #ccc 0px 10px 10px;
	transform: scale(1.01);	
}
#right>.right-bottom{
	margin-top: 4%;
	height: 94px;
}
#right>.right-bottom>samp{
	color: #999999;
}
#right>.right-bottom>p{
	margin: 0px;
}
#right>.right-bottom>p>a{
	color: black;
	text-decoration: none;
}
#right>.right-bottom>p>a:hover{
	color: rgb(252, 105, 118);
}
#nav>ul{
	padding: 0px;
}
#nav li{
	float: left;
	list-style: none;
	margin-right: 5.8%;
}
#nav li>a{
	font-size: 22px;
	color: black;
}
#nav li:first-of-type>a{
	color: rgb(252, 105, 118);
}
#nav li>a:hover{
	color: rgb(252, 105, 118);
	text-decoration: none;
}
#img-nav>img{
	width: 100%;
	height: 40px;
	margin-top: 3%;
}
#left-bottom1>img{
	float: left;
	width: 220px;
	height: 140px;
	margin-right: 3%;
	transition:all .2s;
}
#left-bottom1>img:hover{
	box-shadow: #ccc 0px 10px 10px;
	transform: scale(1.01);	
}
#left-bottom1{
	margin-top: 5%;
	height: 94px;
}
#left-bottom1>samp{
	display: block;
	color: #999999;
	margin-top: 12%;
	font-size: 12px;
	font-family: "微软雅黑";
}
#left-bottom1>samp>span:nth-of-type(1){
	margin-left: 50%;
}
#left-bottom1>samp>span:nth-of-type(2){
	color: rgb(220, 220, 220);
}
#left-bottom1>samp>span:nth-of-type(4){
	color: rgb(220, 220, 220);
}
#left-bottom1>p{
	margin: 0px;
}
#left-bottom1>p>a{
	color: black;
	text-decoration: none;
}
#left-bottom1>p>a:hover{
	color: rgb(252, 105, 118);
}
#left>.left-bottom>img{
	float: left;
	width: 220px;
	height: 140px;
	margin-right: 3%;
	transition:all .2s;
}
#left>.left-bottom>img:hover{
	box-shadow: #ccc 0px 10px 10px;
	transform: scale(1.01);	
}
#left>.left-bottom{
	margin-top: 9%;
	height: 94px;
}
#left>.left-bottom>samp{
	display: block;
	color: #999999;
	margin-top: 12%;
	font-size: 12px;
	font-family: "微软雅黑";
}
#left>.left-bottom>samp>span:nth-of-type(1){
	margin-left: 50%;
}
#left>.left-bottom>samp>span:nth-of-type(2){
	color: rgb(220, 220, 220);
}
#left>.left-bottom>samp>span:nth-of-type(4){
	color: rgb(220, 220, 220);
}
#left>.left-bottom>p{
	margin: 0px;
}
#left>.left-bottom>p>a{
	color: black;
	text-decoration: none;
}
#left>.left-bottom>p>a:hover{
	color: rgb(252, 105, 118);
}
.more{
	margin-top: 70px;
}
.more .blank{
    height: 32px;
    box-shadow: 0 6px 6px 0 #FFF4F4;
}
.more .btn{
    margin-left: 36%;
    width: 200px;
    height: 32px;
    line-height: 32px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0 6px 6px 2px #FFF4F4;
    text-align: center;
    font-size: 14px;
    color: #999999;
    position: relative;
    background-color: #ffffff;
}
.more .btn a{
    display: block;
    color: inherit;
    text-decoration: none;
    color: #9D9D9D;
    background-color: transparent;
    text-align: center;
    margin-left: 6%;
}
.more .btn a:hover{
	color: rgb(252, 105, 118);
}
.more .btn a>span{
	margin-left: 8%;
}
