#titleTop {
	line-height: 49px;
}

#titleTop>samp {
	color: rgb(153, 153, 153);
}

#titleTop>a {
	color: rgb(102, 102, 102);
}

#titleTop>a:hover {
	color: rgb(252, 105, 118);
	text-decoration: none;
}

#titleBottom {
	width: 100%;
	height: 51px;
	background: url(../img/ranking/header-line-bg.png) no-repeat;
	background-position: center;
	background-size: cover;
}

#nav>nav {
	border-radius: 0px 0px 8px 8px;
	height: 64px;
	box-shadow: 0px 1px 8px rgb(255, 234, 238);
	background-color: rgb(255, 255, 255);
}

#nav>nav a:hover {
	color: rgb(252, 105, 118);
}

#nav>nav>ul {
	padding-top: 10px;
}

#tab {
	margin-top: 4%;
}

#tab>div>div>div {
	padding: 0px 25px;
}

#tab>div {
	margin-top: 2%;
}

#tab>ul>li:first-of-type {
	margin-left: 60px;
}

#tab>ul>li {
	margin-left: 10px;
}

.nav-tabs {
	border-bottom: 0px solid #ddd;
}

.nav-tabs>li>a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 0px solid transparent;
	border-radius: 0px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
	color: white;
	border: 0px solid #ddd;
	background: url(../img/ranking/bg-cat-face.png) no-repeat;
	background-position: center;
	background-size: cover;
}

#tab>ul>li>a:focus {
	color: white;
}

#tab>ul>li>a {
	color: black;
	background-color: transparent;
	padding: 10px 25px;
}

.thumbnail {
	box-shadow: 0px 0px 3px #ADADAD;
	padding-top: 0px;
}

.thumbnail a {
	color: black;
}

.thumbnail a:hover {
	text-decoration: none;
	color: rgb(252, 105, 118);
}
#tab>div h4 {
	border-radius: 0px 0px 10px 10px;
	line-height: 38px;
	margin-top: 0px;
	margin-left: 16px;
	width: 85px;
	text-align: center;
	background-color: rgb(245, 245, 245);
}

#tab>div h4:hover {
	color: rgb(252, 105, 118);
	cursor: pointer;
}

.thumbnail>ul {
	list-style: none;
	padding-left: 0px;
	margin: 0px 0px;
}

.thumbnail>ul>li {
	margin-left: 10px;
	line-height: 40px;
}

.thumbnail>ul>li>samp {
	font-family: "微软雅黑";
	font-size: 12px;
	float: right;
	padding-right: 18px;
	background: url(../img/ranking/5.png) right no-repeat;
	background-size: 14px;
}

.thumbnail>ul>li:nth-of-type(1)>a {
	background: url(../img/ranking/2.png) left no-repeat;
	background-size: 18px;
	padding-left: 22px;
	vertical-align: middle;
	float: left;
}

.thumbnail>ul>li:nth-of-type(2)>a {
	background: url(../img/ranking/3.png) left no-repeat;
	background-size: 18px;
	padding-left: 22px;
	vertical-align: middle;
	float: left;
	clear: both;
}

.thumbnail>ul>li:nth-of-type(3)>a {
	background: url(../img/ranking/4.png) left no-repeat;
	background-size: 18px;
	padding-left: 22px;
	vertical-align: middle;
	float: left;
	clear: left;
}

.thumbnail>ul>li:nth-of-type(4)>a {
	margin-left: 5px;
}

.thumbnail>ul>li:nth-of-type(5)>a {
	margin-left: 5px;
}

.thumbnail>ul>li:nth-of-type(6)>a {
	margin-left: 5px;
}

.thumbnail>ul>li:nth-of-type(7)>a {
	margin-left: 5px;
}

.thumbnail>ul>li:nth-of-type(8)>a {
	margin-left: 5px;
}

.thumbnail>ul>li:nth-of-type(9)>a {
	margin-left: 5px;
}

.thumbnail>ul>li:nth-of-type(10)>a {
	margin-left: 5px;
}

.thumbnail>ul>li:nth-of-type(4) {
	clear: both;
}

.img {
	float: left;
	clear: both;
	margin-right: 2%;
}

.img>img {
	width: 134px;
	height: 181.54px;
}

.content {
	clear: right;
}

.content>p:nth-of-type(1)>span {
	color: rgb(162, 162, 162);
	margin-right: 1.5%;
}

.content>p:nth-of-type(2) {
	color: rgb(162, 162, 162);
}

.content>p:nth-of-type(3) {
	color: rgb(162, 162, 162);
	font-size: 12px;
	line-height: 20px;
}