			#Updateone {
				width: 90%;
				margin: auto;
				line-height: 3em;
				font-size: 16px;
			}
			
			#Updateone a {
				color: rgb(102, 102, 102);
			}
			
			#Updateone a:hover {
				color: rgb(252, 105, 118);
				text-decoration: none;
			}
			
			#Updateone p {
				display: inline-block;
			}
			
			#Updatetwo p {
				margin-left: 80px;
				
			}
			
			#Updatetwo p img {
				width: 95%;
			}
			
			#Updatethree {
				width: 90%;
				margin: auto;
				
				box-shadow: rgb(252, 105, 118) 0px 0px 10px;
			}
			
			#Updatethree h4 {
				padding-top: 20px;
				padding-left: 30px;
				padding-bottom: 20px;
				font-size: 25px;
			}
			
			#UpdateFour {
				width: 100%;
			}
			
			#UpdateFour .er div {
				display: inline-block;
				margin-top: 16px;
				padding-right: 100px;
			}
			
			#UpdateFour .er div:first-child {
				margin-left: 75px;
			}
			
			#UpdateFour .er div p {
				display: inline-block;
				font-size: 18px;
			}
			
			#UpdateFour .er div p a {
				color: black;
			}
			
			#UpdateFour .er div p a:hover {
				color: rgb(252, 105, 118);
				text-decoration: none;
			}
			
			#UpdateFour .er div span a {
				font-size: 18px;
				color: rgb(252, 105, 118);
			}
			
			#UpdateFour .er div span a:hover {
				text-decoration: none;
				color: rgb(252, 155, 211);
			}
			
			#UpdateFour .er div .times {
				color: rgb(166, 153, 153);
			}
			#RightBottom{	
				position: fixed;
				right: 40px;
				bottom: 30px;
			}
			#RightBottom .ErWeiMa{
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background-image: url(../img/u=3523208342,4268724663&fm=26&gp=0.jpg);
				background-repeat: no-repeat;
				background-size: contain;
				box-shadow: rgb(252,105,118) 0px 0px 3px;			
			}
			#RightBottom .HuiDaoTop{
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background-image: url(../img/huidaodingbu.png);
				background-repeat: no-repeat;
				background-size: contain;
				box-shadow: rgb(252,105,118) 0px 0px 3px;			
			}
			#RightBottom .tupiao{
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background-color: white;
				background-image: url(../img/u=1667993483,1572971842&fm=26&gp=0.jpg);
				background-repeat: no-repeat;
				background-size: contain;
			}
			#RightBottom .toggles{
				width: 150px;
				height: 150px;
				box-shadow: rgb(252,105,118) 0px 0px 10px;
				background-image: url(../img/qr-code.png);
				background-repeat: no-repeat;
				background-size: contain;
				position: fixed;
				right: 100px;
				bottom: 30px;
			}
			
			#demo2{
				text-align: center;
				margin-top: 30px;
				font-size: 30px;			
			}
			.layui-laypage a, .layui-laypage span{
				height: 30px;
				font-size: 18px;
				border-radius: 20%;
				box-shadow: rgb(252,105,118) 0px 0px 5px;
				margin-left: 10px;
				padding-top: 5px;
				color: gainsboro;
			}				
			